<section id="board">
  <header>
    <div>
      <button>MENU</button>
      <h1>Board</h1>
      <button>HELP</button>
    </div>
  </header>

  <ul class="content">
    <li>
      <button>Sync now</button>
    </li>
    <li>
      <button>Update all</button>
    </li>
    <li>
      <button>Sleep time</button>

      <ul class="sleep-time">
        <li>5 minutes</li>
        <li>10 minutes</li>
        <li>20 minutes</li>
      </ul>
    </li>
  </ul>
</section>
