<section id="user">
  <header>
    <div>
      <button>MENU</button>
      <h1>User</h1>
      <button>HELP</button>
    </div>
  </header>

  <ul class="content">
    <li>
      <span>Total hours</span>
      <span>{{ user.stats[book.title].total }}</span>
    </li>
    <li>
      <span>Minutes per day</span>
      <span>{{ user.stats[book.title].total / user.stats[book.title].days }}</span>
    </li>
    <li>
      <span>Progress</span>
      <span>{{ user.stats[book.title].progress }}%</span>
    </li>
    <li>
      <span>Checkpoints</span>

      <ul class="checkpoints">
        <li ng-repeat="checkpoint in book.checkpoints()">
          <a ng-href="/play/{{ book.title }}#t={{ checkpoint.time }}">
            {{ checkpoint.name }} ({{ checkpoint.chapter.title }})
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>
