<section id="book">
  <header>
    <div>
      <button>MENU</button>
      <h1>Book</h1>
      <button>HELP</button>
    </div>
  </header>

  <div class="content">
    <h2>{{ book.title }}</h2>

    <div class="info">
      <img ng-src="{{ book.front.url }}">
      <div class="details">
        <h3>Duration</h3>
        <span>{{ book.duration || time }}</span>
        <h3>Rating</h3>
        <mq-rating ng-model="book.rating"></mq-rating>
      </div>
    </div>

    <p>{{ book.sinopsis }}</p>
  </div>

  <footer>
    <button>TRASH</button>
    <button>SHARE</button>
    <button>DOWNLOAD</button>
  </footer>
</section>
