@import "./progress-directive.less";

#player {
  display: flex;
  text-align: center;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;

    h1 {
      flex: 1;
      font-size: 300%;

      //color: white;
    }

    button {
      height: 100px;
      width: 100px;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2 { font-size: 200% }
  }


  footer {
    display: flex;
    height: 150px;
    button { flex: 1 }

    .footer-column {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

