<section id="player">
  <header>
    <button>MENU</button>
    <h1>Playing</h1>
    <button>HELP</button>
  </header>

  <div class="content">
    <h2>{{ book.title }}</h2>
    <h2>{{ chapter.title }}</h2>
    <mq-progress ng-model="audio"></mq-progress>
  </div>

  <footer>
    <div class="footer-column">
      <button disabled>SPEED</button>
      <button ng-click="back()">BACK</button>
    </div>

    <button
      ng-if="!audio.paused"
      ng-click="audio.pause()">
      PAUSE
    </button>
    <button
      ng-if="audio.paused"
      ng-click="audio.play()">
      PLAY
    </button>

    <div class="footer-column">
      <button disabled>MARKER</button>
      <button ng-click="fwd()">FWD</button>
    </div>
  </footer>
</section>
