<div class="mq-progress-bar" mq-media-loader="model">
  <div class="mq-progress-slider"></div>
  <input type="range"
    min="0"
    max="{{ model.duration }}"
    ng-model="currentTime"
    ng-change="seek(currentTime)">
</div>
<div class="mq-progress-info">
  <div class="mq-progress-spacer-left"></div>
  <span>{{ currentTime | time }}</span>
  <div class="mq-progress-spacer-right"></div>
  <span>{{ model.duration | time }}</span>
</div>
