mq-progress {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .mq-progress-bar {
    border: 3px solid #660000;
    position: relative;
    height: 25px;

    .mq-progress-slider {
      position: absolute;
      background-image: -webkit-linear-gradient(top,
        rgb(119, 0, 0),
        rgb(204, 51, 51),
        rgb(119, 0, 0));
      bottom: 0;
      left: 0;
      top: 0;
    }

    input {
      position: absolute;
      height: 100%;
      width: ~"calc(100% + 15px)";
      opacity: 0;
      margin: 0;
      left: -7px;
    }
  }

  .mq-progress-info {
    display: flex;
    .mq-progress-spacer-right { flex: 1 }
  }
}
