<ul class="mq-rating-stars">
  <li
    ng-class="{ selected: model >= 0 }"
    ng-click="set(0)">
  </li>
  <li
    ng-class="{ selected: model >= 1 }"
    ng-click="set(1)">
  </li>
  <li
    ng-class="{ selected: model >= 2 }"
    ng-click="set(2)">
  </li>
</ul>
