<section id="library">
  <header>
    <div>
      <button>MENU</button>
      <h1>Library</h1>
      <button>HELP</button>
    </div>
  </header>

  <ul class="content">
    <li class="add">
      <button>[+] ADD BOOK</button>
    </li>
    <li ng-repeat="book in library">
      <span ng-class="{
        started: book.status === 'started',
        read: book.status === 'read',
        none: !book.status,
      }"></span>
      <h3>{{ book.title }}</h3>
    </li>
  </ul>

  <footer class="toolbar">
    <button>REFRESH</button>
    <button>ADD</button>
    <button>SHARE</button>
  </footer>
</section>
